<?xml version="1.0" encoding="utf-8"?>
<configuration> 
  <connectionStrings>
    <add name="default" connectionString="Database=Cyberscope123;Data Source=DESKTOP-OM9UKAC;User ID=CSadmin;password=P@ssword1;Max Pool Size=200" />
    <add name="som" connectionString="Database=som;Data Source=DESKTOP-OM9UKAC;User ID=CSadmin;password=P@ssword1;Max Pool Size=200;" />
  </connectionStrings>
</configuration>