<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CodeViewer" value="C:\Users\Tim\AppData\Local\Programs\Microsoft VS Code\Code.exe" />
    <add key="BasePath" value="c:\!som\" />
    <add key="SourceDir" value="c:\!som\_src" />
    <add key="DestDir" value="c:\!som\_src\_compile" />
  </appSettings>
  <connectionStrings>
    <add name="default" connectionString="; Initial Catalog=Cyberscope123; Data Source=DESKTOP-546VFJS\SQLEXPRESS; Integrated Security=SSPI" />

    <add
      name="Cyberscope123"
      connectionString="Database=Cyberscope123;Data Source=DESKTOP-546VFJS\SQLEXPRESS;User ID=CSadmin;password=P@ssword1;Max Pool Size=200"      />

  </connectionStrings>
</configuration>